<link rel="stylesheet" href="/css/log.css" />

<div class="container">
  <div class="card mb-3 mt-5" id="loginInterface" style="min-width: 540px;">
    <div class="row g-0">
      <div class="col-md-6">
        <img src="/img/bg.png" class="img-fluid rounded-start" alt="Hình nè" />
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h1 class="card-title">LOGIN FORM</h1>

          {{! đây là form đăng kí }}

          <form id="loginForm" method="POST">
            <div class="mb-3">
              <label for="usernameL" class="form-label">Username</label>
              <input
                type="text"
                class="form-control"
                id="usernameL"
                name="username"
              />
            </div>
            <div class="mb-3">
              <label for="passwordL" class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                id="passwordL"
                name="password"
              />
            </div>
            <button
              type="submit"
              class="btn btn-primary"
              id="loginBtn"
            >Login</button>
            <div class="text-danger" id="notificationL">{{notification}}</div>
            <br />
            No account?<a href="#" id="goToRegisterBtn">Click here to register.</a>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div
    class="card mb-3 mt-5 noneDisplay"
    id="registerInterface"
    style="min-width: 540px;"
  >
    <div class="row g-0">
      <div class="col-md-6">
        <img src="/img/bg.png" class="img-fluid rounded-start" alt="Hình nè" />
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h1 class="card-title">REGISTER FORM</h1>

          {{! đây là form đăng kí }}

          <form id="registerForm" method="POST">
            <div class="mb-3">
              <label for="usernameR" class="form-label">Username</label>
              <input
                type="text"
                class="form-control"
                id="usernameR"
                name="username"
              />
            </div>
            <div class="mb-3">
              <label for="passwordR" class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                id="passwordR"
                name="password"
              />
            </div>

            <div class="mb-3">
              <label for="confirm" class="form-label">Confirm password</label>
              <input
                type="password"
                class="form-control"
                id="confirm"
                name="confirm"
              />
            </div>
            <button class="btn btn-primary" id="reg">Register</button>
            <div class="text-danger" id="notificationR">{{notification}}</div>
            <br />
            Already have an account?<a href="#" id="goToLoginBtn">Click here to
              Login.</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/log.js"></script>