<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-white" id="HomepageBtn" href="/1">Home</a>
    <a
      class="btn btn-primary"
      data-bs-toggle="offcanvas"
      href="#offcanvasExample"
      role="button"
      aria-controls="offcanvasExample"
    >
      Menu
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

      </ul>
      <div class="d-flex" role="search">
        <a class="text-white me-5">Xin chào: Khách hàng</a>
        <div>
          <a href="/cart">
            <img
              style="width: 40px;"
              src="https://img.icons8.com/office/80/null/shopping-cart.png"
            />
          </a>

          <span
            class="position-absolute top-10 start-90 translate-middle badge rounded-pill bg-danger"
          >
            {{countPro}}
            <span class="visually-hidden">unread messages</span>
          </span>
        </div>

        <a
          class="btn btn-outline-danger ms-5"
          aria-current="page"
          href="#"
          data-bs-toggle="modal"
          data-bs-target="#logoutModal"
        >Logout</a>
      </div>
    </div>
  </div>
</nav>

<!-- Modal -->
<div
  class="modal fade"
  id="logoutModal"
  tabindex="-1"
  aria-labelledby="logoutModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="logoutModalLabel">Đăng xuất</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Bạn có chắc muốn đăng xuất khỏi hệ thống?
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >Không</button>
        <a
          type="button"
          class="btn btn-danger"
          href="http://localhost:3113/"
        >Chắc chắn</a>
      </div>
    </div>
  </div>
</div>